@import "tailwindcss";

.orange {
    /* FFAA33 */
    color: #FFAA33;
}

.orange-hover {
    /* FFA500 */
    color: #FFA500;

}

h1 {
    font-size: 10rem;
}

b {
    font-weight: 400;
}

.blue {
    /* 0077FF */
    color: #4BA2EB;
}

.font-korean {
    font-family: 'Noto Serif KR Variable', serif;
}

.instrument-serif {
    font-family: 'Instrument Serif', serif;
}

.instrument-serif-bold {
    font-family: 'Instrument Serif', serif;
    font-weight: 700;
}
.instrument-serif-italic {
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-weight: 100;
}   

.instrument-sans {
    font-family: 'Instrument Sans', sans-serif;
}
.instrument-sans-bold {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 700;
}

.sans-bold {
    font-weight: 800;
}

.instrument-sans-italic {
    font-family: 'Instrument Sans', sans-serif;
    font-style: italic;
    font-weight: 100;
}

p {
    font-size: 1.8rem;
}

.bg-offwhite {
    background-color: #FAF8F4;
}

.bg-orange {
    background-color: #FFAA33;
}

.dark-orange {
    color: #AC7222;
}

.image-container {
    width: 400px; /* Set the width of the container */
    height: 200px; /* Set the height of the container */
    border-radius: 20px; /* Makes the container a circle */
    overflow: hidden; /* Ensures the image is cropped to the container's shape */
    position: relative;
}
  
.image-cover {
    width: 100%; /* Make the image fill the container's width */
    height: 100%; /* Make the image fill the container's height */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    position: absolute;
    top: 0;
    left: 0;
}
