@import "tailwindcss";

.orange {
    /* FFAA33 */
    color: #FFAA33;
}

.orange-hover {
    /* FFA500 */
    color: #FFA500;

}

h1 {
    font-size: 10rem;
}

b {
    font-weight: 400;
}

.blue {
    /* 0077FF */
    color: #4BA2EB;
}

.font-korean {
    font-family: 'Noto Serif KR Variable', serif;
}

.instrument-serif {
    font-family: 'Instrument Serif', serif;
}

.instrument-serif-bold {
    font-family: 'Instrument Serif', serif;
    font-weight: 700;
}
.instrument-serif-italic {
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-weight: 100;
}   

.instrument-sans {
    font-family: 'Instrument Sans', sans-serif;
}
.instrument-sans-bold {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 700;
}

.sans-bold {
    font-weight: 800;
}

.instrument-sans-italic {
    font-family: 'Instrument Sans', sans-serif;
    font-style: italic;
    font-weight: 100;
}

p {
    font-size: 1.8rem;
}

.bg-offwhite {
    background-color: #FAF8F4;
}

.bg-orange {
    background-color: #FFAA33;
}

.dark-orange {
    color: #AC7222;
}

.image-container {
    width: 400px; /* Set the width of the container */
    height: 200px; /* Set the height of the container */
    border-radius: 20px; /* Makes the container a circle */
    overflow: hidden; /* Ensures the image is cropped to the container's shape */
    position: relative;
}
  
.image-cover {
    width: 100%; /* Make the image fill the container's width */
    height: 100%; /* Make the image fill the container's height */
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
    position: absolute;
    top: 0;
    left: 0;
}


.item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.side-bar-text {
    font-family: 'Silkscreen', cursive;
    font-size: 1.2rem;
}

.item img {
    margin: 8px;
    padding: 8px;

}

.collapsed {
    display: none;
}

.silkscreen-regular {
font-family: "Silkscreen", sans-serif;
font-weight: 400;
font-style: normal;
}

.silkscreen-bold {
font-family: "Silkscreen", sans-serif;
font-weight: 700;
font-style: normal;
}

.selected {
    /* gray color */ background-color: #D3D3D3; /* light gray */
    border-radius: 8px; /* Optional: rounded corners for the selected item */
}

.selected-text {
    background-color: #2084ff;
    color: white;
    border-radius: 5px;
}

.eb-garamond {
    font-family: 'EB Garamond', serif;
}

.eb-garamond-italic {
    font-family: 'EB Garamond', serif;
    font-style: italic;
}

.light-blue {
    color: #809ABE;
}

.im-fell {
    font-family: 'IM Fell Great Primer', serif;
}

.im-fell-italic {
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic;
}

.bg-fixed {
    background-attachment: fixed;
    background-position: center;
}

.h-100p {
    height: 70vh;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeInUp {
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 300ms;
    opacity: 0;
}


.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}