---
import Welcome from '../components/Welcome.astro';
import Navbar from '../components/Navbar.astro';
import "../styles/global.css";
import '@fontsource/instrument-serif';
import '@fontsource-variable/noto-serif-kr'
import '@fontsource-variable/instrument-sans';

---
<meta charset="UTF-8">
<head>

</head>
<body>
<Navbar />
<main class="bg-offwhite">
	
</main>
</body>
