---
import Welcome from '../components/Welcome.astro';
import Navbar from '../components/Navbar.astro';
import "../styles/global.css";
import '@fontsource/instrument-serif';
import '@fontsource-variable/noto-serif-kr'
import '@fontsource-variable/instrument-sans';
import DiaryLayout from '../components/DiaryLayout.astro';
import '@fontsource/im-fell-great-primer/400-italic.css';
import '@fontsource/im-fell-great-primer';

---
<meta charset="UTF-8">
<head>

</head>
<body class="bg-offwhite">
<Navbar />
<main class="lg:ml-18 lg:mr-18">
    <DiaryLayout />
</main>
</body>
