---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import "../styles/global.css";
import '@fontsource/instrument-serif';
import "@fontsource/instrument-serif/400.css"; 
import '@fontsource-variable/noto-serif-kr'
import '@fontsource-variable/instrument-sans';
import '@fontsource/im-fell-great-primer/400-italic.css';
import '@fontsource/im-fell-great-primer';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<meta charset="UTF-8">
<head>
<link rel="icon" href="../assets/logo.svg" type="image/svg+xml">
</head>
<body>
<Navbar />
<main class="bg-[url('../assets/home/Checkered.jpg')] bg-cover bg-no-repeat bg-bottom">
	<Welcome />
</main>
</body>

