---
import Navbar from '../components/Navbar.astro';
import "../styles/global.css";
import '@fontsource/instrument-serif';
import '@fontsource-variable/noto-serif-kr'
import '@fontsource-variable/instrument-sans';
import ProjectsLayout from '../components/ProjectsLayout.astro';
import '@fontsource/im-fell-great-primer/400-italic.css';
import '@fontsource/im-fell-great-primer';
---
<meta charset="UTF-8">
<head>

</head>
<body class="bg-offwhite">
<Navbar />
<main class="lg:ml-32 lg:mr-32">
   <ProjectsLayout />
</main>
</body>
