@font-face {
  font-family: 'Outfit';
  src: local('Outfit'), url(./Fonts/Outfit/Outfit-VariableFont_wght.ttf) format('truetype');
}

.App {
  text-align: center;
  font-family: 'Outfit', sans-serif;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F6F6F6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar */

.navbar-font{
  font-size: 1.5em;
}

/* home */
.intro{
  text-align: right;
  margin-right: 10vw;
  /* height: 100vh; */
  margin-bottom: 20vh;
}

.intro h1{
  font-size: 1.5em;
  color: #919196;
  font-weight: 400;
  margin-top: 40vh;
}

.intro h2{
  font-weight: 700;
  font-size: 3em;
}

.intro h3{
  font-size: .8em;
  color: #919196;
  font-weight: 400;
}

.intro h4{
  font-size: 1.5em;
  color: #919196;
  font-weight: 400;
}

/* about me */
.about-me{
  padding-top: 10vh;
  text-align: left;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 30vh;
}

body {
  background-color: #322B2B;
}



/* intro block */

.below-intro{
  display: flex;
  align-items: center;
}

.intro-block{
  width: 50%;
  padding:1rem;
}

.arrow {
  margin-left: 95%;
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid #919196;
  border-right: 5px solid #919196;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}


/* collapsible */

.collapsible .content {
  padding: 6px;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

@keyframes highlight {
  from {
    background-position: 0;
  }

  to {
    background-position: -100%;
  }
}

.collapsible .content b {
  animation-name: highlight;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  background-size: 200%;
  background-image: linear-gradient(to right, #F6F6F6 50%, transparent 50%), 
                    linear-gradient(transparent 50%, #81B3FF 50%);
  font-weight: 500;
}

.collapsible .content a {
  background: 
    linear-gradient(to right, #919196, #919196),
    linear-gradient(to right, #81B3FF, #81B3FF, #81B3FF);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  text-decoration: none;
  color: inherit;
}

.collapsible .content a:visited {
  color: inherit;
}
  
.collapsible .content .sdss-links{
  text-align: center;
}

.collapsible .content .sdss-links a{
  margin-left: 5%;
  margin-right: 5%;
}

.collapsible .content a:hover,
.collapsible .content a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

.collapsible .header {
  /* background-color: #dddddd; */
  padding: 6px;
  cursor: pointer;
  /* color: #919196; */
  text-align: left;
  margin-left: 10%;
}

.collapsible .header .gray{
  color: #919196;
}

.collapsible .header .black{
  color: black;
}

.collapsible .title{
  font-size: 1.5em;
}

.collapsible .title-container{
  display: flex;
}

.collapsible .title-container .icon{
  height: 100%;
  padding: 1%;
}

.collapsible .title-container .icon .gray{
  color: #919196;
}

.collapsible .title-container .icon .black{
  color: black;
}

/* footer */

.footer{
  background-color: #919196;
  color: #F6F6F6;
  font-size: 1.6rem;
}


.footer-text{
  margin-right: 10vw;
  margin-left: 10vw;
}

.copyright{
  font-size: 1.2rem;
}