

h1{
    font-family: 'MuseoModerno', sans-serif;
}

.button{
    font-family: 'MuseoModerno', sans-serif;
    font-weight: 100;
}

.card-title{
    font-family: 'MuseoModerno', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.card-text{
    font-size: 1rem;
}

.card-subtitle{
    font-size: 1.2rem;
    color: #919196;
    font-style: italic;

}

.github-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.github-link img{
    width: 5rem;
    height: 5rem;
}

