@font-face {
  font-family: 'MuseoModerno';
  src: local('MuseoModerno'), url(./Fonts/MuseoModerno/MuseoModerno-Italic-VariableFont_wght.ttf) format('truetype');
  /* src: local('MuseoModerno'), url(./Fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf) format('truetype'); */
}

@font-face {
  font-family: 'Outfit';
  src: url(./Fonts/Outfit/Outfit-VariableFont_wght.ttf) format('truetype');
}

/* @font-face {
  font-family: 'MuseoModerno';
  src: url();
} */

.App {
  text-align: center;
  font-family: 'Outfit', sans-serif;
  background-color: #F6F6F6;
  overflow: hidden;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  margin-left: 10vw;
  margin-right: 10vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar */

.navbar-font{
  font-size: 1.5em;
  font-family: 'Outfit', sans-serif;
}

/* home */
.intro{
  text-align: left;
  /* height: 100vh; */
  margin-bottom: 50vh;
  font-family: 'MuseoModerno', sans-serif;
  
}

.intro h1{
  font-size: 2.5em;
  color: black;
  font-weight: 500;
  margin-top: 30vh;
}

.intro h2{
  font-weight: 500;
  font-size: .8em;
}

.intro h3{
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  color: black;
  font-weight: 500;
  font-style: italic;
}

.intro h4{
  font-size: 1.5em;
  color: #919196;
  font-weight: 400;
}

/* about me */
.about-me{
  padding-top: 10vh;
  text-align: left;
  margin-bottom: 10vh;
}

.about-me h1{
  font-size: 2em;
  color: black;
  font-weight: 500;
  text-align: center;
  font-family: 'MuseoModerno', sans-serif;
}

body {
  background-color: #322B2B;
}



/* intro block */

.below-intro{
  display: flex;
  align-items: center;
}

.intro-block{
  width: 50%;
  padding:1rem;
}

@media only screen and (max-width: 600px) {
  .below-intro {
    display: block;
  }

  .intro-block{
    width: 100%;
  }
}

.intro-block a{
  text-decoration: none;
}

.arrow-button {
  width: fit-content;
  display: flex;
  color: white;
  /* background-color: #00E692; */
  padding: 10px 16px;
  border-radius: 50px;
  transition: all .3s ease;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  font-size: 2rem;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
}

@media only screen and (max-width: 600px) {
  .arrow-button{
    font-size: 1.5rem;
  }
}


.arrow-button > .arrow {
  width: 10px;
  height: 10px;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  position: relative;
  transform: rotate(45deg);
  margin-left: 15px;
  transition: all .3s ease;
}

.arrow-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 20px;
  transform-origin: bottom right;
  height: 4px;
  position: absolute;
  opacity: 0;
  bottom: calc(-5.5px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.arrow-button:hover > .arrow {
  transform: rotate(45deg) translate(6px, 6px);
  border-color: text-hover-color;
}

.arrow-button:hover > .arrow::before {
  opacity: 1;
  width: 20px;
}

.arrow-button:hover {
  /* background-color: #017A4F; */
  color: #fff;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* collapsible */

.collapsible .title-container{
  font-family: 'MuseoModerno', sans-serif;
  font-weight: 600;
}

.collapsible .content {
  padding: 6px;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

@keyframes highlight {
  from {
    background-position: 0;
  }

  to {
    background-position: -100%;
  }
}

.collapsible .content b {
  animation-name: highlight;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  background-size: 200%;
  background-image: linear-gradient(to right, #F6F6F6 50%, transparent 50%), 
                    linear-gradient(transparent 50%, #81B3FF 50%);
  font-weight: 500;
}

.collapsible .content a {
  background: 
    linear-gradient(to right, #919196, #919196),
    linear-gradient(to right, #81B3FF, #81B3FF, #81B3FF);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  text-decoration: none;
  color: inherit;
}

.collapsible .content a:visited {
  color: inherit;
}
  
.collapsible .content .sdss-links{
  text-align: center;
}

.collapsible .content .sdss-links a{
  margin-left: 5%;
  margin-right: 5%;
}

.collapsible .content a:hover,
.collapsible .content a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

.collapsible .header {
  /* background-color: #dddddd; */
  padding: 6px;
  cursor: pointer;
  /* color: #919196; */
  text-align: left;
  margin-left: 10%;
}

.collapsible .header .gray{
  color: #919196;
}

.collapsible .header .black{
  color: black;
}

.collapsible .title{
  font-size: 1.5em;
}

.collapsible .title:hover{
  color: black;
  transition: all .5s ease-in;

}

.collapsible .title-container{
  display: flex;
}

.collapsible .title-container .icon{
  height: 100%;
  padding: 1%;
}

.collapsible .title-container .icon .gray{
  color: #919196;
}

.collapsible .title-container .icon .black{
  color: black;
}

/* skills */
.skills h1{
  font-size: 2em;
  color: black;
  font-weight: 500;
  text-align: center;
  padding-top: 10vh;;
  font-family: "MuseoModerno", sans-serif;
}

.tag-cloud{
  font-family: 'MuseoModerno', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 5vw;
  padding-left: 5vw;
  color: #919196;
  margin-bottom: 10vh;
}

.cloud-hover:hover{
  color: black;
  transition: all .5s ease-in;
}


/* footer */

.footer{
  background-color: #919196;
  color: #F6F6F6;
  font-size: 1.6rem;
}


.footer-text{
  margin-right: 10vw;
  margin-left: 10vw;
}

.copyright{
  font-size: 1.2rem;
}